.wrapper {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: url("../img/fantastic-blue-sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 46px;
  margin-bottom: 22px;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  margin-top: 5px;
}

.logo-link:hover .logo-main {
  fill: #f26522;
}

.logo-main {
  display: block;
  position: relative;
  width: 53px;
  height: 47px;
  fill: black;
}

.logo-text,
.header-word2 {
  text-transform: uppercase;
}

.logo-text {
  margin-left: 8px;
  font-size: 29px;
  line-height: 29px;
  font-weight: bold;
}

.header-word2 {
  display: block;
  margin-top: 3px;
}

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header-contact,
.content-text,
.header-word2 {
  font-size: 18px;
  line-height: 18px;
}

.contact-item {
  margin-bottom: 19px;
}

#switch-theme:hover,
.contact-phone:hover,
.contact-email:hover,
.logo-link:hover .logo-text,
.logo-link:hover .logo-main,
.content-item:hover h2 {
  color: #f26522;
}

.contact-phone,
.footer-text,
#switch-theme,
.drop-text2,
a {
  color: black;
}

#switch-theme {
  width: 110px;
  background: transparent;
  border: none !important;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 62px;
  row-gap: 37px;
  margin-bottom: 49px;
}

.content-item {
  position: relative;
}

.content-item:hover .drop-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.content-item::after {
  display: none;
}

.content-item:hover:after {
  display: block;
  position: absolute;
  left: 0;
  top: 165px;
  content: "";
  height: 55px;
  background: rgba(242, 101, 34, 0.8);
}

.content-item:hover:after,
.content-ipg,
.drop-top {
  width: 300px;
}

.content-ipg {
  height: 220px;
}

.content-text {
  text-align: center;
  padding-top: 20px;
}

.drop-top {
  display: none;
  position: absolute;
  z-index: 1;
  top: 172px;
  left: 0;
}

.drop-text1 {
  margin-right: 246px;
  font-size: 10px;
  line-height: 10px;
}

.drop-price {
  margin-right: 125px;
  font-size: 20px;
  line-height: 20px;
}

.drop-text2 {
  font-size: 14px;
  line-height: 14px;
}

.drop-text2::after {
  margin-left: 30px;
  content: url("../img/Vector\ 1.svg");
}

.footer-text {
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
}
